/* body{
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0.2rem;

        &-thumb {
            background-color: #ffffff39;
            width: 0.1rem;
            border-radius: 1rem;
        }
    }
} */



.home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: white; */
}
.filters{
    width: 25%;
    /* border: 2px solid white; */

     /* min-width: 310px; */
}
.posts-container {
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 90vh;
    margin-bottom: 50px;
    /* margin-right: 20%; */
    width: 55%;
    /* Set a maximum height to prevent the container from taking up the entire viewport height */
}
.trending-container{
    width: 20%;
    /* border: 2px solid white; */
}
.posts-container::-webkit-scrollbar {
    width: 0.2rem;
}

.posts-container::-webkit-scrollbar-thumb {
    background-color: #ffffff39;
    width: 0.1rem;
    border-radius: 1rem;
}

.create-post-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post-button{
    transition: all 0.2s ease;
    border: 1px solid #0066bf;
    color: #0066bf;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
}
.create-post-button:hover{
    font-size: 16px;
}