

.dark-p{
    background-color: #1f3864;
}

.dark-s{
    background-color: #2f5288;
}

.light-p{
    background-color: #e6e6e6;
}

.light-s{
    background-color: #aaaaaa;
}

.color-p{
    background-color: #aaaaaa;
}