/* Navbar Container */
.navbar {
    background: linear-gradient(to bottom, #083953, #132a38);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    transition: all 0.3s ease;
}



.dropdown-icons {
    margin-top: 4px;
}


/* Navigation List */
.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    height: 90%;
}

.navbar ul li {
    margin: 0 20px;
}

/* Navigation Links */
.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-out;
}

.user-name {
    font-size: 15px;
}



.dropdown-content a {
    font-size: 15px;
}

/* Active Link Style */
.navbar a.active {
    color: #00aaff;
}

/* Hover Style */
.navbar a:hover {
    color: #6acdff;
    /* background-color: black; */
}

/* Profile Dropdown */
.profile-dropdown {
    position: relative;
}

.profile-dropdown .profile {
    cursor: pointer;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    cursor: pointer;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #69cdff;
    color: black;
}

/* Show the dropdown when hovering over the profile link */
.profile-dropdown:hover .dropdown-content {
    display: block;
}

/* Dark Mode */
.navbar.dark-mode {
    background-color: #111;
    color: #fff;
}

/* Adjust colors in dark mode as needed */


.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.navbar-option-text {
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 12px;
}

.navbar-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification-bar {
    position: absolute;
    top: 40px;
    /* Adjust the top position as needed */
    /* right: 0; */
    width: 300px;
    /* Adjust the width as needed */
    background-color: #008ed5;
    /* Dark background color */
    color: #fff;
    /* Text color */
    border: 1px solid #555;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 240px;
    max-height: 80vh;
    overflow-y: auto;
}

.notification-bar::-webkit-scrollbar {
    width: 0.2rem;
}

.notification-bar::-webkit-scrollbar-thumb {
    background-color: #001e2f;
    width: 0.1rem;
    border-radius: 1rem;
}


.notification-item {
    padding: 10px;
    border-bottom: 1px solid #0076b1;
}

.notification-item:last-child {
    border-bottom: none;
}

/* Styling for the notification icon (optional) */
.notification-icon {
    color: #ff9900;
    /* Custom notification icon color */
}

.new-alerts-alert{
    position: absolute;
    z-index: 5px;
    top: 2px;
    /* right: 0px; */
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    padding: 2px;
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
}
.new-alerts-alert p {
    color: rgb(255, 255, 255);
    font-size: 13px;
}