/* Profile.css */

/* Style for the container holding the input and circular avatar */
.upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Style for the circular avatar */
.circular-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.circular-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Style for the input element */
input[type="file"] {
    display: none;
}

/* Style for the label (custom input button) */
label {
    background-color: #00aaff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #0056b3;
}

.user-details-pages{
    width: 35%;
    height: 100%;
}