/* UserProfile.css */

.profile-container {
    /* width: 40%; */
    background-color: #102a38;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-height: 90vh;
    overflow-y: auto;
}
.profile-container::-webkit-scrollbar {
    width: 0.2rem;
}
.profile-container::-webkit-scrollbar-thumb {
    background-color: #001e2f;
    width: 0.1rem;
    border-radius: 1rem;
}

.profile-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #008ace;
}

.profile-details {
    flex-grow: 1;
    text-align: left;
    padding: 10px;
}

.edit-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit-button {
    background-color: #008ace;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin: 5px 0;
}

.category-section {
    margin-top: 20px;
    text-align: left;
}

.category-section ul {
    list-style: none;
    padding: 0;
}

.category-section li {
    margin: 5px 0;
}

label {
    background-color: #00aaff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

label:hover {
    background-color: #0056b3;
}


.circular-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.circular-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #00aaff;
}

.user-avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.details-element{
    padding: 3px 3px;
}

.category-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.user-name-container{
    display: flex;
    justify-items: center;
    align-items: center;
}
.user-name-container h3{
    margin-right: 4px;
}
.user-type-icon{
    color: #2daceb;
    cursor: pointer;
}
.user-type-icon:hover{
    color: #248cbf;
}